body{
    max-width: 1200px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav ul{
    display: flex;
    padding: 10px 10px 40px 10px;
    justify-content: end;
}
nav li{
    margin-left: 30px;
}
main{
    background-image: url("../achtergrond.webp");
    padding: 1rem;
    display: flex;
    /* gap: 20px; */
    flex-wrap: wrap;
    justify-content: space-between
}
p{
    flex: 1 1 50%;
    padding: 10px;
}
p:nth-of-type(3n+3){
    background-color: rgb(221, 244, 185, 0.5);
    flex-basis: 100%;
    padding: 10px;
}
p:nth-of-type(3n+3)::first-letter{
    font-size: 24px;
}
p>a{
    display: block;
    padding-left: 1rem;
}