body{
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul{
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2.5rem 0;
}
img{
    width: 100%;
}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    background-image: url("../achtergrond.png");
    padding: 1rem;
}
figure{
    flex: 1 1 30%;
}
footer{
    background-color: white;
    padding: 2rem;
    position: sticky;
    bottom: 0;
    text-align: center;
}